<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="pattern">%d{dd MMM yyyy HH:mm:ss} %-5p [%t] - %-60m [%C{-3}.%M (%F:%L)]%n</property>
    </properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/appTest.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </File>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="${pattern}"/>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <appender-ref ref="ReportPortalAppender"/>
        </Root>
    </Loggers>
</Configuration>